<!DOCTYPE HTML>
<html>

<head>
	<script src="~/Scripts/lib/jquerry.min.js"></script>
	<link rel="stylesheet" href="~/Scripts/lib/materialize.min.css">
	<script src="~/Scripts/lib/materialize.min.js"></script>
    <script defer src="~/Scripts/app.js"></script>
	<script defer src="~/Scripts/main.js"></script>
	<title>Main</title>
</head>

<body class="container">
    <div class="row valign-wrapper">
        <h2 class="col s12 m8 l8" style="color:dimgray;">Select queue</h2>
        <div class="col s12 m4 l4 right-align">
            <div>You <span id="temporary-login-text"></span> logged as <span id="username"></span></div>
            <a id="signup" class="waves-effect grey lighten-1 btn-small black-text hide" href="SignUp">Sign Up</a>
            <a id="signin" class="waves-effect grey lighten-1 btn-small black-text" href="SignIn">Sign In</a>
        </div>
    </div>

	<div class="collection" id="queues" style="max-height: 60vh; overflow: auto;">
	</div>

	<button class="waves-effect grey lighten-1 btn-large black-text modal-trigger"
		data-target="joinQueueModal">Join</button>
	<button class="waves-effect grey lighten-1 btn-large black-text modal-trigger"
		data-target="createQueueModal">Create</button>

	<div id="createQueueModal" class="modal">
		<div class="modal-content">
			<fieldset>
				<legend><b>Set queue properties</b></legend>
				Name:<input type="text" placeholder="Queue name" id="queueName">
				Expires:
				<div class="row">
					<input type="text" class="datepicker col s4" id="datepicker" placeholder="Date">
					<input type="text" class="timepicker col s4 offset-s2" id="timepicker" placeholder="Time">
				</div>
				<button class="waves-effect grey lighten-1 btn-small black-text modal-close"
					onclick="createQueue()">Create</button>
			</fieldset>
		</div>
	</div>

	<div id="joinQueueModal" class="modal">
		<div class="modal-content">
			<input id="queue-link" type="text" placeholder="Queue link" id="queueInviteLink">
			<button class="waves-effect grey lighten-1 btn-small black-text" onclick="joinQueue()">Join</button>
		</div>
	</div>
</body>

</html>