<!DOCTYPE HTML>
<html>

<head>
    <script src="~/Scripts/lib/jquerry.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/lib/materialize.min.css"/>
    <link rel="stylesheet" href="~/Scripts/lib/materialize-icons.css"/>
    <script defer src="~/Scripts/lib/materialize.min.js"></script>
    <script defer src="~/Scripts/app.js"></script>
    <script defer src="~/Scripts/queue.js"></script>
    <title>Main</title>
</head>

<body class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m8 l8">
            <h1 id="queue-name" class="row" style="color:dimgray;">Queue Name</h1>
            <h6 id="queue-expires" class="row" style="color:dimgray;">Queue Expires</h6>
        </div>
        <div class="col s12 m4 l4 right-align">
            <div>You <span id="temporary-login-text"></span> logged as <span id="username"></span></div>
            <a id="signup" class="waves-effect grey lighten-1 btn-small black-text hide" href="SignUp">Sign Up</a>
            <a id="signin" class="waves-effect grey lighten-1 btn-small black-text" href="SignIn">Sign In</a>
        </div>
    </div>

    <button id="take-place" class="col waves-effect waves-light grey btn" onclick="takePlace()">Take place</button>

    <div class="collection" id="queue-users" style="max-height: 60vh; overflow: auto;">
        <div id="user-queue-entry" class="collection-item indigo darken-2 white-text row halign-wrapper" hidden="hidden">
            <h6 id="user-queue-entry-name" class="col left">user#2</h6>
            <div class="col right">
                @*<button onClick="resetUserName()" class="col waves-effect waves-light grey btn modal-trigger"
                        data-target="change-name-modal">
                    <i class="material-icons">edit</i>
                </button>*@
                <button id="exchange-place" class="col waves-effect waves-light grey btn" onclick="swap()">
                    <i class="material-icons">arrow_downward</i>
                </button>
                <button class="col waves-effect waves-light grey btn" onclick="leaveOrder()">
                    <i class="material-icons">chevron_right</i>
                </button>
            </div>
        </div>
    </div>

    <div id="change-name-modal" class="modal">
        <div class="modal-content">
            <input type="text" placeholder="username" id="modal-username">
            <button class="waves-effect grey lighten-1 btn-small">Change</button>
        </div>
    </div>
</body>

</html>