<!DOCTYPE HTML>
<html>

<head>
    <script src="~/Scripts/lib/jquerry.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/lib/materialize.min.css">
    <script src="~/Scripts/lib/materialize.min.js"></script>
    <title>Auth</title>
</head>

<body class="container">
    <h1 style="color:dimgray;">Sign Up</h1>
    <h6>Username:</h6>
    <input type="text" placeholder="username" id="login"><br>
    <h6>Password:</h6>
    <input type="password" placeholder="Password"><br><br>
    <input class="waves-effect grey lighten-1 btn-small" type="submit" value="Login">

</body>

</html>